@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
header img {
  width: 100px;
  margin: 8px;
}

.propia {
  background-color: #F8F5E9;
}
.propia a {
  color: #328E6E;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Bebas Neue", sans-serif;
  color: #F8F5E9;
  background-color: #84AE92;
}

.banner {
  background-image: url(../productos/IMG_1413.jpeg);
  background-size: cover;
  background-position: center;
  text-align: center;
  text-shadow: 4px 4px 17px rgb(0, 0, 0);
  padding: 130px 0;
}
.banner:hover {
  background-image: url(../productos/IMG_1342.jpeg);
}

.contenedor-grid {
  display: grid;
  grid-template-areas: "titulo1 titulo2 titulo2 titulo3" "img1 img2 img3 img4";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100px 100px 100px 100px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  justify-content: center;
  justify-items: center;
}
.contenedor-grid img {
  width: 40%;
  height: auto;
}

.grid-titulo-1 {
  grid-area: titulo1;
}

.grid-img-1 {
  grid-area: img1;
}

.grid-titulo-2 {
  grid-area: titulo2;
}

.grid-img-2 {
  grid-area: img2;
}

.grid-img-3 {
  grid-area: img3;
}

.grid-titulo-3 {
  grid-area: titulo3;
}

.grid-img-4 {
  grid-area: img4;
}

.padre {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  overflow-x: hidden;
  background-color: #328E6E;
}

.productos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.beneficios {
  text-align: center;
  margin-top: 20px;
  animation-name: efecto;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-delay: 2s;
}
.beneficios:hover {
  color: #328E6E;
  transition: 2s;
}
@keyframes efecto {
  0% {
    transform: scale(1);
    background-color: #328E6E;
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    background-color: #256851;
  }
}

main img {
  width: 25%;
}

.boxmodel {
  border: 3px solid #328E6E;
  padding: 20px;
  margin: 20px;
}

.destacados, .disponibles {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.boton1:focus, .boton2:focus {
  background-color: #328E6E;
}

.destacados {
  margin: 15px 0px;
}

.disponibles {
  margin: 50px 0px;
  align-items: center;
}

.iphones, .fundas {
  width: 40%;
  height: 700px;
  background: radial-gradient(circle, rgb(42, 155, 87) 0%, rgb(50, 142, 110) 49%, rgb(132, 174, 146) 100%);
  border-radius: 30px;
  margin: 30px 0px;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  background-color: #F8F5E9;
  color: #328E6E;
  height: 200px;
  text-align: center;
}

@media (max-width: 480px) {
  body {
    background-color: #84AE92;
  }
  header {
    flex-direction: column;
  }
  nav {
    width: 100%;
  }
  .contenedor-grid {
    grid-template-areas: "titulo1" "img1" "titulo2" "img2" "img3" "titulo3" "img4";
    grid-template-columns: 1fr;
    grid-template-rows: 70px repeat(7, auto);
  }
  .grid-img-3 {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body {
    background-color: #84AE92;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
    width: 100%;
  }
  .contenedor-grid {
    display: grid;
    grid-template-areas: "titulo1 titulo1" "img1 img1" "titulo2 titulo2" "img2 img3" "titulo3 titulo3" "img4 img4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 10px;
  }
  .grid-img-3 {
    display: block;
  }
}
@media (max-width: 768px) {
  .destacados {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
  }
  .destacados div {
    width: 100%;
  }
  .contenedor-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
  }
  .contenedor-grid img,
  .contenedor-grid h3 {
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=estilos.css.map */