@use "./variables" as*;
// Estilos para dispositivos móviles

@media (max-width: 480px) {
  body {
    background-color: yellow;
  }

  header {
    flex-direction: column;
  }

  nav {
    width: 100%;
  }

  .contenedor-grid {
    grid-template-areas:
      "titulo1"
      "img1"
      "titulo2"
      "img2"
      "img3"
      "titulo3"
      "img4";
    grid-template-columns: 1fr;
    grid-template-rows: 70px repeat(7, auto);
  }

  .grid-img-3 {
    display: none;
  }
}
