@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
//font-family: "Bebas Neue", sans-serif;
// Paleta de colores
$color-claro: #F4F4F2;
$color-verde-claro: #84AE92;
$color-verde: #328E6E;
$color-fondo: #F8F5E9;

// Tipografía

$fuente-principal: "Bebas Neue", sans-serif ;
