// Paleta de colores
$color-claro: #F4F4F2;
$color-verde-claro: #84AE92;
$color-verde: #328E6E;
$color-fondo: #F8F5E9;

// Tipografía principal
$fuente-principal: "Special Gothic Condensed One", sans-serif;
